@font-face {
    font-family: "Futura";
    src: url("/fonts/FuturaPTLight.otf");
    font-weight: 200;
}
@font-face {
    font-family: "Futura";
    src: url("/fonts/FuturaPTMedium.otf");
    font-weight: 400;
}
@font-face {
    font-family: "Futura";
    src: url("/fonts/FuturaPTDemi.otf");
    font-weight: 500;
}
@font-face {
    font-family: "Futura";
    src: url("/fonts/FuturaPTBold.otf");
    font-weight: 600;
}
body {
    margin: 0;
    overflow-x: hidden;
}
* {
    font-family: "Futura";
    box-sizing: border-box;
}
